body {
    font-family: sans-serif;
    margin: 0;
    background-color: #000080; /* Azul marino */
    color: white;
}

header {
    background-color: #333;
    padding: 1em 0;
    text-align: center;
}

.titulo-principal {
    margin: 0;
}

nav {
    background-color: #444;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.portada img {
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.integrantes {
    text-align: center;
    margin-bottom: 20px;
}

#miBoton {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#miBoton:hover {
    background-color: #4cae4c;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}